# PostgreSQL database settings.
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Redis database settings.
REDIS_URL=

# Session and authentication settings.
NUXT_SESSION_PASSWORD=
AUTH_LOOKUP_PEPPER=

# Rate limiting settings.
RATE_LIMIT_POINTS=
RATE_LIMIT_DURATION=
AUTH_RATE_LIMIT_POINTS=
AUTH_RATE_LIMIT_DURATION=
TRUSTED_PROXY=
